@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';
@import 'tw-animate-css';
@import './components/header.css';
@import './components/hero.css';
@import './components/experience.css';
@import './components/projects.css';
@import './components/footer.css';

.app-root {
  min-height: 100vh;
  background-color: #ebe6d9;
  color: #1a1512;
}
